* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(52, 58, 107);
}
.white-bg {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  color: #333;
  align-items: center;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.hidden {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
}

.buton {
  margin: 22rem 49rem;
  position: absolute;
  padding: 10px 60px;
  background: #fff;
  border: 0;
  outline: none;
  font-weight: 500;
  border-radius: 1rem;
}
.white-bg img,
p,
h2 {
  margin-left: 9rem;
}

img {
  margin-top: -2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
h2 {
  font-size: 1rem;
  margin-top: 2.5rem;
  font-weight: 500;
}
p {
  margin: 1rem 4rem;
  padding-top: 1rem;
  text-align: justify;
  white-space: nowrap;
}
.btn {
  width: 60%;
  background-color: #6fd649;
  padding: 14px 9rem;
  margin: 2rem 3rem;
  border: none;
  border-radius: 4px 4px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 720px) {
  .white-bg {
    font-size: 16px;
    align-items: center;
    margin-left: -0.5rem;
  }
  .btn {
    margin-left: 5rem;
    padding: 0.8rem 7rem;
  }
  main {
    width: 60%;
  }
  .buton {
    margin-left: 10rem;
    margin-top: 25rem;
  }
}
